@import 'tailwindcss';

@theme {
  --font-pretendard: 'Pretendard Variable', sans-serif;
  --color-primary: #6b5cff;
  --color-basic-light: #f7f8f8;
  --color-ring: hsl(240 5% 64.9%);
  --color-placeholder: #cfcfcf;
  --color-list: #686868;
  --color-credit-chip: #ecefff;
  --color-text: #292929;
}

@layer base {
  body {
    color: #292929;
  }
}
